<!DOCTYPE html>
<html lang="en">
{% extends 'flatpages/default.html' %}

<head>
    <meta charset="UTF-8">
    <title>
          {% block title %}
               News
          {% endblock title %}
    </title>
</head>
<body>
{% block content %}
   <hr>
   {% if article %}
       <table cellspacing="5" cellpadding="10" border="1" width="100%"> <!-- Начинаем описывать таблицу -->

           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
           </tr>
           <td>{{ article.name }}</td>
           <td>{{ article.date_pub|date:'d m Y'}}</td>
           <td>{{ article.description}}</td>

       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}
{% endblock content %}
</body>
</html>
