<!DOCTYPE html>
<html lang="en">
{% extends 'flatpages/default.html' %}
{% load censor %}
<head>
    <meta charset="UTF-8">
    <title>
            {% block title %}
            Категории новостей
            {% endblock title %}
    </title>
</head>
<body>
{% block content %}
<h1 class="text-center"> {{category}} <span class="text-muted fs-6 fw-normal"><h3>{{ category_news_list|length }}</h3></span></h1>
   {% if is_not_subscriber %}
       <p class = "text-center"><a href = "{% url 'subscribe' category.id %}" class = "btn btn-secondary btn-sm">Подписаться</a></p>
   {% endif %}

   {% if is_subscriber %}
       <p class = "text-center"><a href = "{% url 'unsubscribe' category.id %}" class = "btn btn-secondary btn-sm">Отписаться</a></p>
   {% endif %}

<hr>
{% if category_news_list %}

       <table cellspacing="5" cellpadding="10" border="1" width="100%"> <!-- Начинаем описывать таблицу -->

           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
               <td>Категория</td>

               <!-- Условие получается составным. -->
               {% if perms.NW.update_news or perms.NW.delete_news %}
               <td>Действия</td>
               {% endif %}
           </tr>

          {% for n in category_news_list %}
           <tr>
               <td>{{ n.name|censor }}</td>
               <td>{{ n.date_pub|date:'d.m.Y'}}</td>
               <td>{{ n.description|truncatewords:20|censor }}</td>
               <td>
                    {% for category in category.news.all %}
                    <a href="{% url 'category_list' n.category.id %}">{{ n.category.name }}</a>
                    {% endfor %}
               </td>

               <td>
                    <!-- А здесь доступ для каждой ссылки теперь будем проверять отдельно -->
                    {% if perms.NW.change_news %}
                    <a href="{% url 'news_update' pk=n.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.NW.delete_news %}
                    <a href="{% url 'news_delete' n.id %}">Удалить</a>
                    {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
{% else %}
       <h2>Публикаций нет!</h2>
{% endif %}
   <!-- Добавляем пагинацию на страницу -->

   <!-- Информация о предыдущих страницах -->
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   <!--Информация о текущей странице -->
   {{ page_obj.number }}

   <!-- Информация о следующих страницах -->
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}

</body>
</html>
