<!DOCTYPE html>
<html lang="en">
{% extends 'flatpages/default.html' %}
{% load censor %}


<head>
    <meta charset="UTF-8">
    <title>
            {% block title %}
                  News
            {% endblock title %}
    </title>
</head>
<body>
{% block content %}
   <h1>Все новости </h1>
   <h3>{{ news|length }}</h3>
   <hr>
   {% if news %}
       <table cellspacing="5" cellpadding="10" border="1" width="100%"> <!-- Начинаем описывать таблицу -->

           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
               <td>Категория</td>
           </tr>

          {% for n in news %}
           <tr>
               <td>{{ n.name|censor }}</td>
               <td>{{ n.date_pub|date:'d.m.Y'}}</td>
               <td>{{ n.description|truncatewords:20|censor }}</td>
               <td>{{ n.category.name }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}
{% endblock content %}
</body>
</html>