<!DOCTYPE html>
<html lang="en">
{% extends 'flatpages/default.html' %}
{% load censor %}
<head>
    <meta charset="UTF-8">
    <title>
            {% block title %}
                  News
            {% endblock title %}
    </title>
</head>
<body>
{% block content %}
   <h1>Все новости </h1>


<!--    &lt;!&ndash; Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе&ndash;&gt;-->
<!--   <form action="" method="get">-->
<!--      &lt;!&ndash; Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями &ndash;&gt;-->
<!--       {{ filter.form.as_p }}-->
<!--       &lt;!&ndash; Добавим кнопку отправки данных формы &ndash;&gt;-->
<!--       <input type="submit" value="Найти" />-->
<!--   </form>-->

    <!--     <form action="" method="get" >-->
    <!--    {{ filterset.form.non_field_errors }}-->

    <!--    {{ filterset.form.name__icontains.errors }}-->
    <!--    <label for="{{ filterset.form.name__icontains.id_for_label }}">Поиск</label>-->
    <!--    <input-->
    <!--        id="{{ filterset.form.name__icontains.id }}"-->
    <!--        name="{{ filterset.form.name__icontains.name }}"-->
    <!--        value="{{ filterset.form.name__icontains.value }}"-->
    <!--        class="form-control"-->
    <!--    >-->
    <!--    <input type="submit" class="mt-3 btn-primary" value="Найти" />-->
    <!--</form>-->


   <h3>{{ news|length }}</h3>
   <hr>

   <!-- Теперь будем проверять не request.user.is_authenticated, а конкретные права -->
   {% if perms.NW.add_news %}
   <a href="{% url 'news_create' %}"><h3>Добавить новость</h3></a>
   {% endif %}


   {% if news %}
       <table cellspacing="5" cellpadding="10" border="1" width="100%"> <!-- Начинаем описывать таблицу -->

           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
               <td>Категория</td>

               <!-- Условие получается составным. -->
               {% if perms.NW.update_news or perms.NW.delete_news %}
               <td>Действия</td>
               {% endif %}
           </tr>

          {% for n in news %}
           <tr>
               <td>{{ n.name|censor }}</td>
               <td>{{ n.date_pub|date:'d.m.Y'}}</td>
               <td>{{ n.description|truncatewords:20|censor }}</td>
               <td><a href="{% url 'category_list' n.category.id %}">{{ n.category }}</a></td>

               <td>
                    <!-- А здесь доступ для каждой ссылки теперь будем проверять отдельно -->
                    {% if perms.NW.change_news %}
                    <a href="{% url 'news_update' pk=n.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.NW.delete_news %}
                    <a href="{% url 'news_delete' n.id %}">Удалить</a>
                    {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}


   <!-- Добавляем пагинацию на страницу -->

   <!-- Информация о предыдущих страницах -->
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   <!--Информация о текущей странице -->
   {{ page_obj.number }}

   <!-- Информация о следующих страницах -->
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
</body>
</html>